body {
    font-family: 'Shadows Into Light', cursive;
}

.main__container {
    margin: 0 auto;
    text-align: center;
}
.main__title {
    font-size: 4rem;
}

.loader__container {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    height: 100vh;
}

.loader {
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;

    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.loader:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #343a3f;
    animation: flip 1s infinite;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}
